/*.content-1{
	opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}​*/
/*.content-1{
  animation: fadeInLeft 10s;
}
@keyframes fadeIneft {
  from { opacity: 0}
  to   { opacity: 1}
}*/

.content-1, .content-4{
	animation: fadeInLeft 1s; /* fadeinleft is to scroll image from left to right*/
}

/*@-webkit-keyframes fadeInLeft {
  from {
    
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    
    -webkit-transform: none;
    transform: none;
  }
}*/

@keyframes fadeInLeft {
  from {
    
   
    transform: translate3d(-15%, 0, 0);
  }

  to {
    
    -webkit-transform: none;
    transform: none;
  }
}

.content-3, .content-6{
	animation: fadeInRight 1s; /* fadeinleft is to scroll image from rightto left*/
}
@keyframes fadeInRight {
  from {
    
   
    transform: translate3d(15%, 0, 0);
  }

  to {
    
    -webkit-transform: none;
    transform: none;
  }
}
.content-2{
	animation: fadeInDown 1s; /* its use to scroll from top to down*/
}
@keyframes fadeInDown {
  from {
    
    
    transform: translate3d(0, -15%, 0);
  }

  to {
    
    -webkit-transform: none;
    transform: none;
  }
}
.content-5{
	animation: fadeInUp 1s; /* it use to scroll from down to top*/
}
@keyframes fadeInUp {
  from {
    
   
    transform: translate3d(0, 15%, 0);
  }

  to {
    
    -webkit-transform: none;
    transform: none;
  }
}