*{
	margin: 0px;
	padding: 0px;
}
@font-face {
  font-family: myfont;
  src:url(../font/ANGEL.otf);
}
.font{
	font-family: myfont;
}
body{
	margin: 0px;
	padding: 0px;
}
/*main class is used to adjust the webpage */
.main{
	width: 100%;
	height: 100%;
	background-color: #E0E4E0;
	margin:0px;
	padding:0px;
	overflow: :hidden;
	
}
/* header and header-1 class are use to design on top of the webpage*/
.header{
	background-color: LightSeaGreen;
	margin: 0;
    padding: 10px;
    overflow: hidden;
    font-size: 25px;
    height: 30px;
}
.header a{
	text-decoration: none;
	color: white;
}
.header-1{
	float: right;
	list-style-type: none;
	font-size: 20px;
	display: inline;
	margin-top:0px;	  
}
.header-1 li{
	float: left;
	margin: 10px;
}
.header-1 li:hover{	
	background-color: white;
	border-radius: 2px;	 
}



.header-1 li a{
	text-decoration: none;
	color: white;

}
.header-1 li a:hover{
	color: #F10686;

}
/*famous-women is for header to content of famous women */
.famous-women{
	background-color: #434643;
	padding: 10px;
	text-align: center;
}
.famous-women:hover{
	color:;
}
.famous-women p{
	color: white;
	font-size: 20px;
	display: inline-block;
	height: 5px;
	margin-top: 5px;
}
/*up and down class is to in famous-women header for drop down and drop up*/
.up{
	float: left;
	}

.down{
	float: right;
}
/*content are used for designing the background and box*/
.content-1 {
	position:relative;
	top:10px;
	width: 25%;
	height: 400px;
	padding: 20px;
	margin:30px;
	background-color: white;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	
}

.content-2 {
	position:relative;
	top:10px;
	width: 25%;
	height: 400px;
	padding: 20px;
	margin:30px;
	background-color: white;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}
.content-3 {
	position:relative;
	top:10px;
	width: 25%;
	height: 400px;
	padding: 20px;
	margin:30px;
	background-color: white;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}
.content-4 {
	position:relative;
	top:10px;
	width: 25%;
	height: 400px;
	padding: 20px;
	margin:30px;
	background-color: white;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}
.content-5 {
	position:relative;
	top:10px;
	width: 25%;
	height: 400px;
	padding: 20px;
	margin:30px;
	background-color: white;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}
.content-6 {
	position:relative;
	top:10px;
	width: 25%;
	height: 400px;
	padding: 20px;
	margin:30px;
	background-color: white;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}
/*name,DOB,story, and pic are used to design the content*/
.names{
	text-align: center;
	color: LightSeaGreen;


}
.DOB{
	text-align: center;
	color: #A9A6A6;
}
.story{
	text-align: center;
	margin:10px;
}
.pic{
	width: 250px;
	border-radius: 50%;
	opacity: 0.50;
	filter: alpha(opacity=50);
	transition-duration: 3s;



}
.pic:hover{
	
	transform: rotate(-30deg);
	transition-duration: 3s;
	opacity: 1;
	filter: alpha(opacity=100);
}
/*organization part*/
/* in organization part we have used lot classes to design that part and inserting the images by hover text*/
.Organization{
	margin: 0px;

}
.Organization p{
	margin-left: 30px;
}
.Org-img {
	margin-left: 70px;
	opacity: 0.80;
	filter: alpha(opacity=80);
}
.Org-img:hover{
	color: red;
	opacity: 1;
	filter: alpha(opacity=100);
}
.Org-img-1 {
	margin-left: 70px;
	opacity: 0.80;
	filter: alpha(opacity=80);
}
.Org-img-1:hover{
	color: red;
	opacity: 1;
	filter: alpha(opacity=100);
}
.Org-img-2 {
	margin-left: 70px;
	opacity: 0.80;
	filter: alpha(opacity=80);
}
.Org-img-2:hover{
	color: red;
	opacity: 1;
	filter: alpha(opacity=100);
}
.Org-img-3 {
	margin-left: 70px;
	opacity: 0.80;
	filter: alpha(opacity=80);
}
.Org-img-3:hover{
	color: red;
	opacity: 1;
	filter: alpha(opacity=100);
}
.Org-img-4 {
	margin-left: 70px;
	opacity: 0.80;
	filter: alpha(opacity=80);
}
.Org-img-4:hover{
	color: red;
	opacity: 1;
	filter: alpha(opacity=100);
}
.Org-img-5 {
	margin-left: 70px;
	opacity: 0.80;
	filter: alpha(opacity=80);
}
.Org-img-5:hover{
	color: red;
	opacity: 1;
	filter: alpha(opacity=100);
}
.image{
	float: right;
	display: none;
}
.Org-img span:hover + .image{
	display: block;
	margin-right: 50px;
}
.image-1{
	float: right;
	display: none;
}
.Org-img-1 span:hover + .image-1{
	display: block;
	margin-right:70px;
	margin-top: -50px; /* -50px is used to adjust the image in orga*/
}
.image-2{
	float: right;
	display: none;
	}
.Org-img-2 span:hover + .image-2{
	display: block;
	margin-right: 70px;
	margin-top: -100px;
}
.image-3{
	float: right;
	display: none;
	}
.Org-img-3 span:hover + .image-3{
	display: block;
	margin-right: 70px;
	margin-top: -70px;
}
.image-4{
	float: right;
	display: none;
}
.Org-img-4 span:hover + .image-4{
	display: block;
	margin-right: 70px;
	margin-top: -150px;
}
.image-5{
	float: right;
	display: none;
}
.Org-img-5 span:hover + .image-5{
	display: block;
	margin-right: 70px;
	margin-top: -210px;
}
/*fun-Fact*/
.fun-fact div{
	padding: 10px;
	margin: 10px;
	opacity: 0.70;
	filter: alpha(opacity=70);
	font-family: myfont;
}
.fun-fact a{
	text-decoration: none;
	color: LightSeaGreen;
}
.fun-fact a:hover{
	color: red;
}
.fun-fact div:hover{
	background-color: #B6BDBD;
	margin:3px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.header-2{
	
	background-color: LightSeaGreen;
	margin: 0;
    padding: 10px;
    overflow: hidden;
    font-size: 20px;
    list-style-type: none;
    height: 30px;
}

.header-2 li{
	float: left;
	margin: 5px;
}
.header-2 li:hover{
	background-color: white;
	
	border-radius: 2px;	
}

.header-2 li a{
	text-decoration: none;
	color: white;
	margin: 0px;

}
.header-2 li a:hover{
	color: #F10686;
}



