
@font-face {
  font-family: myfont;
  src:url(../font/ANGEL.otf);
}
fieldset {
  border: 1px  red;
} 
h2{
  text-align: center;
}
body{
  background-image: url("../image/1.jpg");
  background-image: center; 
}
.container{
  width: 50%;
  height: 100%;
  margin:auto;
  font-family: myfont;
  background: white;
  border:0;
  padding: 0px;
}
.audio,.video,.image{
  text-align: center;
} 
